@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
/* BOOTSTRAP ADDITIONS */
body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fcfcfc;
  border-top: solid 1px #E7E7E7;
  margin-top: 20px; }

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: white;
  color: black; }

.navbar-default .navbar-brand {
  color: black; }

.post .post-content a {
  text-decoration: underline;
  font-weight: 400; }

.post-content img {
  max-width: 100%; }

a {
  color: #CA4714; }

a:hover {
  color: #CA4714;
  text-decoration: underline; }

a:active {
  color: #CA4714;
  text-decoration: underline; }

body > .container {
  /*padding: 60px 15px 0;*/
  padding-top: 60px;
  padding-left: 15px;
  padding-bottom: 30px; }

.container .text-muted {
  margin: 20px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

.post .date-block {
  text-align: center;
  width: 100%;
  background-color: #CA4714;
  padding: 5px;
  margin-top: 20px;
  margin-right: 0;
  color: white; }

/* END BOOTSTRAP ADDITIONS */
/* POSTS PAGE CSS */
.posts .title {
  font-size: 16px; }

.posts .date {
  text-align: right;
  font-size: 13px; }

/* END POSTS PAGE CSS */
.site-info {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left; }

.site-info .author-avatar {
  float: left;
  width: 80px;
  margin-right: 20px; }

.site-info .author-name {
  font-weight: 400;
  color: #CA4714;
  font-size: 18px; }

.site-info .details {
  float: left;
  color: gray;
  font-size: 13px; }

.site-info .details > .contact-info {
  padding-top: 0px;
  text-align: center; }

.site-info .contact-info .icon {
  width: 32px;
  float: left;
  margin: 2px; }

/* POST INFO */
.post-info {
  background-color: #fcfcfc;
  border-top: solid 1px #eeebeb;
  border-bottom: solid 1px #eeebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left; }

.post-info .author-title {
  font-size: 32px;
  font-weight: 300; }

.post-info .author-avatar {
  float: left;
  width: 80px;
  margin-right: 20px; }

@media screen and (max-width: 320px) {
  .post-info .author-avatar {
    display: none; } }
@media screen and (max-width: 767px) {
  .post-info .author-avatar {
    float: left;
    width: 40px;
    margin-right: 10px; } }
.post-info .author-avatar img {
  border-radius: 0px;
  opacity: 1;
  border: 1px solid black; }

.post-info .author-name {
  font-weight: 400;
  color: #CA4714;
  font-size: 18px; }

.post-info .details {
  float: left;
  color: gray;
  font-size: 13px; }

.post-info .details .post-date {
  color: #CA4714;
  font-weight: 700;
  font-size: 13px; }

.post-info .details .contact-info {
  padding-top: 2px;
  display: block; }

.nav > li > a {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px; }

.navbar img {
  width: 24px; }

.navbar-collapse.collapsing ul li,
.navbar-collapse.in ul li {
  float: left; }

.post-info .post-subtitle {
  margin-top: 4px; }

.post-info .contact-info img {
  width: 24px;
  float: left; }

.tags {
  line-height: 32px;
  margin-top: 6px; }

.tag {
  background-color: #CA4714;
  padding: 6px 8px 6px 8px;
  margin-right: 2px;
  border: solid 1px white;
  color: white; }

@media screen and (max-width: 767px) {
  .author-avatar {
    width: 40px; }

  .author-avatar img {
    width: 40px; } }
/* END POST INFO */
/* PHONE PAGE CSS */
.phone {
  margin-bottom: 10px; }

.phone .date {
  background-color: #CA4714;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 8px;
  font-weight: 100; }

.phone .image {
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px; }

.phone .title {
  text-align: center;
  background-color: #f3f3f3;
  padding: 5px;
  font-size: 14px; }

@media screen and (max-width: 767px) {
  .phone .date {
    font-size: 16px; } }
/* END PHONE PAGE CSS */
table.comparison td:first-child {
  width: 20px; }

table.comparison tr.plus {
  color: green; }

table.comparison tr.minus {
  color: red; }

/* TIMELINE CSS */
.comments {
  padding-top: 25px; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.highlight .lineno {
  color: #ccc;
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc; }

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal; }
